@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
body {
	color:#404040;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	margin-left:auto;
	margin-right:auto;
	width:95%;
}
a{color: #035EAB; text-decoration:none;}
a:hover{color: #035EAB; text-decoration:underline;}
table{margin:auto}
td {padding:5px;}
#wrap-page {
	width:100%;	
}
#header{width:100%; text-align:center;}
#navigation {
	background:url(../../images/nav-bg.gif) repeat-x;
	height:30px;
	width:100%;
}
#mid_section {
	border:1px solid #999;
	padding:20px 0;
	width:100%;	
}
.border_strcture1 {
	border:1px solid #999;	
}
.add_remove_box {
	border:1px solid #999;
	height:170px;
	overflow:scroll;
	width:200px;	
}
.issue_div {
	height:200px;
	width:100%;	
	overflow:auto;
}
.manual_process_div{
	width:100%;
	height:120px;
	overflow:scroll;
	overflow-x:hidden;
}
.manual_process_div th {
	border:1px solid #000;
	background:#999;
	padding:5px;
}
.manual_process_div td{
	border:1px solid #000;
	padding:5px;	
}
.green_box {
	background:#00b050;
	color:#FFF;
	font:bold 48px Arial, Helvetica, sans-serif
}

.orange_box {
	background:#ff9900;
	color:#FFF;
	font:bold 48px Arial, Helvetica, sans-serif
}



.red_box {
	background:#F00 url(../../images/red_flip.gif);
	/*color:#FFF;*/
    color:Black;
	font:bold 48px Arial, Helvetica, sans-serif
}
.msg_green {
	background:#00b050	;
	color:#FFF;
}
.msg_yellow {
	background:#f5ee00	;
	color:#000;
}
.msg_orange {
	background:#ff9900	;
	color:#FFF;
}
.msg_red {
	/*background:#F00	f43046;  */
	background:#f43046; 
	color:#000;
}
.txtBox{width:80px; padding:2px;}

.but {
	border-style: none;
	background: url('../../images/button-bg.gif');
	font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #FFFFFF;
		font-weight: bold;
		height: 27px;
		padding-right: 5px;
		padding-left: 5px;
		/*width: 48px; */
}

.border_strcture {border:1px solid #999;}
.border_strcture  td {border:1px solid #999;}
.border_strcture  th {border:1px solid #999;}
.main_border {border:1px solid #999}

.status_report{padding-top:20px;}
.status_report img{margin:0 10px 0 10px}

/**************** Drop Down Menu ****************
.border_strcture  td {border:1px solid #999;}
.border_strcture  th {border:1px solid #999;}
.main_border {border:1px solid #999}

.status_report{padding-top:20px;}
.status_report img{margin:0 10px 0 10px}*/


/**************** Drop Down Menu *****************/
#nav, #nav ul
{
    line-height: 1;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0pt;
    padding: 0pt;
    font-size:12px;
}
#nav a
{
    color: #005DAA;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 177px;
    border-left: 2px solid white;
}
#nav li ul li a
{
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    width: 168px;
    padding-left: 7px;
    padding-top:5px;
    padding-bottom:5px;
    border-top: 1px solid white;
}
#nav a:hover
{
    background: url('../../images/nav_hover.jpg');
    color: White;
}
#nav li li li a:hover
{
    background-color: #946868;
}
#nav li
{
    float: left;
    width: 177px;
}
#nav li ul
{
    background: #C0CEE1 0 50%;
    left: -999em;
    position: absolute;
    width: 177px;
    border-top: 1px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#nav li ul ul {
	margin: -2em 0 0 16em;
	background-color:#516A80;
}

li:hover ul, li.over ul
{
    display: block;
}
#nav li:hover ul, #nav li.sfhover ul
{
    left: auto;
}
#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}
#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
	left: auto;
}

* html #nav a, * html #nav li, * html #nav li ul
{
    width: 174px;
}

.gvFixedHeader
{
    position: absolute;
}
.flashRedImage{
    background: url('../../images/red_flip.gif');
  color:#000;
}

.flashGreenImage{
    background: url('../../images/greenflip.gif');
  color:#000;
}

.flashYellowImage{
    background: url('../../images/yellow_flip.gif');
  color:#000;
}

.setVisible
{
	visibility: visible !important;
}

.txtBoxes
{
    width:150px;
    padding:2px
    
}

  .modbus-status 
    {
        font-family:Calibri;
        font-size:14px;
        color:#333;
    }
    .modbus-status table
    {
       border:1px solid #333;
    }
    .modbus-status td
    {
       text-align:center;
       border:1px solid #333;
    }