/* The main calendar widget.  DIV containing a table. */
.calendar {
  position: absolute;
  display: none;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  font-size: 10px;
  color: #000;
  cursor: default;
  background: #d4d0c8;
  font-family: tahoma,verdana,sans-serif;
  margin: 0px;
 /* */width:250px; 
 z-index :9999;
 
}

.calendarTable 
{
	/*
  border-top: 0px solid #000;
  border-right: 1px solid #000;
  border-bottom: 0px solid #000;
  border-left: 1px solid #000;
*/
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #d4d0c8;
  font-family: tahoma,verdana,sans-serif;
}

.calendarTable  td {
  border-top: 0px solid #fff;
  border-right: 0px solid #fff;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #d4d0c8;
  font-family: tahoma,verdana,sans-serif;  
}

.calendarDisplay 
{
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #d4d0c8;
  font-family: tahoma,verdana,sans-serif;
  border-collapse:collapse;
  table-layout: fixed;
}

.calendarDisplayHead
{
  font-size: 11px;
  cursor: default;  
  font-family: tahoma,verdana,sans-serif;
  border:none;  
}

.calendarDisplay td {
  border-top: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #d4d0c8;
  font-family: tahoma,verdana,sans-serif;  
}
.calendar input
{
	width:50px !important;
	}
	
.add_form  .calendar td{padding: 0px 2px 2px 5px; vertical-align:middle;}	

.calendar td
{
	/*padding: 0px 5px;*/
}

.calendar img{ float:right; padding-right:8px;}

